{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<br>
	<br><div class="form-row">
<div class="form-group col-md-4 mb-0">
	<input type="submit" class="btn btn-primary" name="Register">
	</div><div class="form-group col-md-2 mb-0"><input type="reset" class="btn btn-primary" name="Reset"></div>
</div>
</form>
<br>
<div class="form-row">
	<div class="form-group col-md-6 mb-0">
Already Member?<br>
<a href="{% url 'login' %}">Login Here</a></div></div>
{% endblock %}
